@font-face {
    font-family: "UnboundedFont";
    src: url("Unbounded-VariableFont_wght.ttf") format('truetype');
}

body {
    background-image: url("crown_pattern.jpg");
    width: 600px;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
}

li {
    font-size: 15px;
}

button {
    background-color: yellow;
    font-size: 20px;
}

#prompt {
    font: inherit;
    padding: 4px;
    min-width: 80px;
    box-sizing: content-box;
}

#mirror {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font: inherit;
}

.description {
    font-size: 20px;
    font-family: 'UnboundedFont', serif;
}